body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../images/170927-toll-booths-feature-image.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.wrapper{
  padding:0;
  margin:0;
}
.Ccontainer {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 10px;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

/* header login and signup*/
header {
  color: #ffffff;
  background-color: #233237;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 6px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

/*header head*/
header #head-main {
  float: left;
}

header #head-main h1 {
  color: #FEDC3D;
  margin-top: 15px;
  margin-left: 20px;
}

#head-main h1:hover {
  transition: .2s;
  text-shadow: 0 0 5px #fedc3d;
  transform: scale(1.005);
}

header nav {
  float: right;
  margin-top: 27px;
}

header a:hover {
  background-color: rgba(152, 135, 143, 0.5);
  color: #cccccc;
  font-weight: bold;
  text-decoration: none;
}

/*navigation menu*/
.main-nav {
  height: 45px;
  border-bottom: #e8491d 3px solid;
}

.main-nav nav {
  margin: 10px;
  float-left;
}

.main-nav nav ul {
  display: flex;
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 13px;
}

.main-nav li {
  display: inline-block;
  float: left;
  margin-top: 5px;
  padding: 0 10px 0 10px;
}

.main-nav li a:hover {
  background-color: rgba(152, 135, 143, 0.5);
  text-decoration: none;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 6px;
}
.enquiry{
  color:white;
  padding-left: 40px;
  width:100%;
}
.contact-form{
  width:450px;
  margin: 30px auto;
  background-color: rgba(29, 61, 81, 0.8);
  padding:10px;
  border-radius: 6px;
}
#help{
  margin-top: 20px;
}
#p2,#p1{
  text-transform:uppercase;
}
#p1{
  background-color: rgba(29, 61, 81, 0.8);
  padding:10px;
  border-radius: 6px;
  width:93%;
}
#p2{
  margin-left: 10px;
  margin-top:5px;
  padding-left: 10px;
}
#contact {
  padding: 0px 40px 40px 40px;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}
.input {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #8da8a5;
  border-radius: 6px;
  background: #98878f;
  color: black;
  font-size: 14px;
  outline: none;
  transform: all 0.5s ease;
}
.input:focus {
  border: 2px solid #FEDC3D;
  box-shadow: 0 0 5px #fedc3d;
}
.error{
  margin: 5px 0;
  width:100%;
  box-sizing: border-box;
  /*background-color: #233237;*/
  color: white;
}
#contact #sub-btn {
  width: 100%;
  background: #425d7c;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  color: #eac67a;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border-style: none;
  border:1px solid #8da8a5;
}
 #sub-btn:hover{
  transition: .3s ease;
  box-shadow: 0 0 3px #fedc3d;
  text-shadow: 0 0 5px #fedc3d;
}

/*footer*/
footer {
  bottom: 50px;
  background-color: rgb(35, 50, 55);
  width: 100%;
  color: white;
  padding-left: 30px;
  line-height: 40px;
}


::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #eae3ea;
  font-family: roboto;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  font-family: roboto;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #eae3ea;
  font-family: roboto;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #eae3ea;
  font-family: roboto;
}
